<!-- partials/equipment/equipment_row.html -->
<tr class="hover:bg-base-100">
    <td class="px-6 whitespace-nowrap">
        <a class="link link-primary font-medium hover:text-primary-focus"
           hx-get={{ url_for('items:get_update_form_web', equipment_it=equipment.it) }}
           hx-target="#modal-content"
           onclick="equipment_modal.showModal()"
        >
            {{ equipment.it }}
        </a>
    </td>
    <td class="px-6 whitespace-nowrap">{{ equipment.serial_number }}</td>
    <td class="px-6 whitespace-nowrap">{{ equipment.name.name }}</td>
    <td class="px-6 whitespace-nowrap">{{ equipment.model if equipment.model else '' }}</td>
    <td class="px-6 whitespace-nowrap">
        <span class="badge badge-lg badge-{{ equipment.status }}">
            {{ equipment.status.value }}
        </span>
    </td>
    <td class="px-6 whitespace-nowrap">
        {% if equipment.employee %}
            <span class="flex items-center gap-2">
                👤 <span class="font-medium">{{ equipment.employee.fullname }}</span>
            </span>
        {% elif equipment.department %}
            <span class="flex items-center gap-2">
                🏢 <span class="font-medium">{{ equipment.department.name }}</span>
            </span>
        {% endif %}
    </td>
    <td class="px-6 max-w-xs prose prose-sm truncate">{{ equipment.notes if equipment.notes else '' }}</td>
    <td class="px-6 whitespace-nowrap text-right">
        {% include "partials/equipment/delete_button.html" %}
    </td>
</tr>
