<div 
    class="form-control"
    hx-get="{{ url_for('equipments:get_statuses') }}"
    hx-target="#select_status"
    hx-swap="outerHTML"
    hx-include="#select_status"
>
    <fieldset class="fieldset">
        <legend class="fieldset-legend">Статус*</legend>
        <select 
            id="select_status"
            class="select" 
            name="status"
            required
        >
            {% if equipment %}
                <option value={{ equipment.status.name }} selected>
                    {{ equipment.status.value }}
                </option>
            {% else %}
                <option value="EXPLOITED" selected>
                    экспл.
                </option>
            {% endif %}
        </select>
    </fieldset>
</div>
