<div class="container mx-auto px-4 py-8">
    <div class="max-w-2xl mx-auto bg-base-100 p-6 rounded-lg shadow">
        <form method="post"
              {% if equipment %}
                hx-put={{ url_for('equipments:update_web', equipment_it=equipment.it) }}
              {% else %}
                hx-post={{ url_for('equipments:create_web') }}
              {% endif %}
              hx-target="equipment-table"
              hx-push-url="true"
        >

            <div class="grid grid-cols-1 gap-6">
                {% include "partials/equipment/form_fields.html" %}
                {% include "partials/equipment/form_actions.html" %}
            </div>
        </form>
    </div>
</div>
