<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>IT Portal - {% block title %}{% endblock %}</title>

<!-- HTMX -->
<script
    src="https://unpkg.com/htmx.org@2.0.4/dist/htmx.min.js"
    integrity="sha384-+9a1E0X0dFHwYdFNtk3Z3GEnNwMP5u7ZlBLjGCEwYFbqlT0g3uQuwZIjt/7DjD5G"
    crossorigin="anonymous">
</script>

<!-- TailwindCSS -->
<script src="https://cdn.tailwindcss.com"></script>

<!-- Alpine.js -->
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

{% block head %}{% endblock %}
