<!-- IT Number -->
<fieldset class="fieldset" x-data="{ isValid: true, message: '' }">
    <legend class="fieldset-legend">Инвентарный номер*</legend>
    <input 
        type="text"
        class="input input-bordered w-full"
        name="it"
        pattern="it\d{5}"
        title="Format: itXXXXX (where X is a digit)"
        {% if equipment %}
            value="{{ equipment.it }}"
            readonly
        {% else %}
            value= "{{ next_it }}"
            hx-get="{{ url_for('equipments:validate_it') }}"
            hx-push-url="false"
            hx-trigger="change"
            hx-target="next .validation-message"
            hx-indicator=".it-loader"
            @input="isValid = $el.checkValidity()"
            :class="{ 'input-error': !isValid }"
        {% endif %}
        required
    >
    <div class="it-loader htmx-indicator absolute right-3 top-3">
        <svg class="animate-spin h-5 w-5 text-primary" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
            <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
            <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
        </svg>
    </div>
    <div class="validation-message text-sm mt-1"></div>
    <div class="fieldset-label">Формат: itXXXXX (где X - цифра)</div>
</fieldset>

<!-- Serial Number -->
<fieldset class="fieldset">
    <legend class="fieldset-legend">Серийный номер*</legend>
    <input type="text"
           class="input input-bordered"
           name="serial_number"
           pattern="[A-Za-z0-9\-]+"
           title="Only letters, numbers and hyphens allowed"
           value="{{ equipment.serial_number if equipment }}"
           required>
    <div class="fieldset-label">Только буквы, цифры и дефисы</div>
</fieldset>

<!-- Name and Model -->
<div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    
    {% include "reference_book/equipment_names/name_dropdown.html" %}

    <fieldset class="fieldset">
        <legend class="fieldset-legend">Модель</legend>
        <input 
            type="text"
            class="input input-bordered"
            name="equipment_model"
            value="{{ equipment.model if equipment }}"
        >
    </fieldset>
</div>
