<div x-data="{ assignmentType: '{{ 'employee' if equipment and equipment.employee else 'department' if equipment and equipment.department else '' }}' }"
     class="space-y-4">
    <fieldset class="fieldset">
        <legend class="fieldset-legend">Закрепление*</legend>
        <div class="flex gap-4">
            <label class="cursor-pointer label">
                <input type="radio"
                       name="assignment_type"
                       class="radio radio-primary"
                       value="employee"
                       x-model="assignmentType"
                       required
                >
                <span class="label-text ml-2">Сотрудник</span>
            </label>
            <label class="cursor-pointer label">
                <input type="radio"
                       name="assignment_type"
                       class="radio radio-primary"
                       value="department"
                       x-model="assignmentType"
                       required
                >
                <span class="label-text ml-2">Подразделение</span>
            </label>
        </div>
    </fieldset>

    <div class="relative">
        
        {% include "reference_book/employees/employee_dropdown.html" %}

        {% include "reference_book/departments/department_dropdown.html" %}

    </div>

    <!-- Form Number and Consignment Number -->
    <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <fieldset class="fieldset">
            <legend class="fieldset-legend">Номер формуляра</legend>
            <input 
                type="text"
                class="input input-bordered"
                name="form_number"
                value="{{ equipment.form_number if equipment }}"
                maxlength="5"
            >
        </fieldset>

        <fieldset class="fieldset" x-show="assignmentType === 'department'">
            <legend class="fieldset-legend">Номер накладной</legend>
            <input 
                type="text"
                class="input input-bordered"
                name="consignment_number"
                value="{{ equipment.consignment_number if equipment }}"
                maxlength="5"
                x-bind:disabled="assignmentType !== 'department'"
            >
            <div class="fieldset-label">Заполняется только если выбрано подразделение</div>
        </fieldset>
    </div>
</div>